@page "/about"
<h3>About Us</h3>
<p>We are a software company that provides top-notch software solutions. These include project management, web designing, data management and many more!</p>

@code {

}
