@page "/portfolio"

<h3>Portfolio</h3>
<ul>
    <li> <a href="/basal-metabolic-calculator">Basal Metabolic Calculator</a></li>
    <li> <a href="/register">Register</a></li>
   
</ul>
@* <JesicaProfile210.Components.RegisterComponent></JesicaProfile210.Components.RegisterComponent> *@ @*this is placing the component*@

@code {

}
